<div class="row mx-0">
    <div class="col-12 text-center">
        <span>
            Create.
        </span>
        <span>
            Innovate.
        </span>
        <span>
            Achieve.
        </span>
        
        
    </div>
   
    <!-- <div class="col-12 text-center"> 
        <div class="flip-card">
            <div class="content">
                <div class="front">
                    <img src="../../../assets/images/background.jpg" alt="">
                </div>
                <div class="back">
                    <div class="row">
                        <div class="col-12">
                            <p>Ideas</p>
                        </div>
                        <div class="col-12">
                            <p>Resources</p>
                        </div>
                        <div class="col-12">
                            <p>Time</p>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

    </div>
     -->

</div>

