

        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span class="one">
                            Create.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span class="two">
                            Innovate.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span class="three">
                            Achieve.
                        </span>
                    </div>
                </div>
            </div>
        </div>

        
        
        
      
        <!-- explore. plan. execute. -->
        

   
    <!-- <div class="col-12 text-center"> 
        <div class="flip-card">
            <div class="content">
                <div class="front">
                    <img src="../../../assets/images/background.jpg" alt="">
                </div>
                <div class="back">
                    <div class="row">
                        <div class="col-12">
                            <p>Ideas</p>
                        </div>
                        <div class="col-12">
                            <p>Resources</p>
                        </div>
                        <div class="col-12">
                            <p>Time</p>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

    </div>
     -->



