<!-- <div class="flip-card">
    <div class="content">
        <div class="front">
            <img src="../../../assets/photos/avatar_circle.png" alt="Avatar">
            <p>Patrick Petro <br />
                Full Stack Web Developer
            </p> 
        </div>
        <div class="back">
            <div class="row">
                <div class="col-12">
                    <button>About</button>
                </div>
                <div class="col-12">
                    <button>Portfolio</button>
                </div>
                <div class="col-12">
                    <button>About</button>
                </div>
            </div>   
        </div>
    </div>
</div> -->
