<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let project of projects">

    <div class="card">
      <img src="{{ project.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
        
      </div>
      <div class="card-footer">
        <a href="#">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="#">
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </div>
    </div>

  </div>
</div>


<button class="contact">
  <i class="fa-solid fa-circle-info fa-2x"></i>
</button>






<router-outlet></router-outlet>
