<mat-tab-group>
    <mat-tab label="Projects">
        <div class="projects">
            <div class="row mx-0 p-0" *ngFor="let project of projectsSorted">
                <div class="col-12">
                    <div class="card project-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6 p-0">
                                    <h3>{{ project.name }}</h3>
                                    <p>{{ project.description }}</p>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <a href="{{ project.gitHubRepoURL }}" target="_blank">
                                                    <i class="fa-brands fa-github"></i> Repo 
                                                </a>
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="{{ project.productionURL }}" target="_blank">
                                                    <i class="fa-solid fa-up-right-from-square"></i> Try it Out 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 p-0">
                                    <img src="../../../assets/images/project_screenshots/{{ project.image }}" class="img-fluid" alt="{{ project.image }} Screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Components">
        <div class="components">
            <div class="row mx-0 p-0">
                <div class="col-12 col-md-6 col-lg-4">
                    <h4>Login / Sign Up Page</h4>
                    <div class="card login-signup">
                        <div class="card-body">

                            <div class="flip-card">
                                <div id="loginSignup" class="content">
                                    <div class="front">
                                        <h6>Login</h6>
                                        <input type="text" placeholder="Email">
                                        <input type="password" placeholder="Password">
                                        <button>Login</button>
                                        <div class="card-footer">
                                            <div class="row text-center">
                                                <div class="col-6">
                                                    <a href="#">Forgot password?</a>
                                                </div>
                                                <div class="col-6">
                                                    <p (click)="flipLoginCard('loginSignup')">Sign Up</p>
                                                </div>
                                            </div>
                                            
                                           
                                        </div>
                                    </div>
                                    <div class="back">
                                        <h6>Sign Up</h6>
                                        <input type="text" placeholder="First Name">
                                        <input type="text" placeholder="Last Name">
                                        <input type="text" placeholder="Email">
                                        <input type="password" placeholder="Password">
                                        <input type="password" placeholder="Re-enter Password">
                                        <button>Sign Up</button>
                                        <div class="card-footer">
                                            Already have an account?<p (click)="flipLoginCard('loginSignup')">Login</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            Card
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            Card
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </mat-tab>

</mat-tab-group>